extends ./templates/layout.jade

block styles_and_scripts
  include ./templates/styles_and_scripts.jade

block bottom_scripts
  include ./templates/bottom_scripts.jade

block title
  title My Page Title

block content
  h1 My Page Content
